/* global styling */

* {
	color: #939598;
}

label {
  display: none;
}
body {
	overflow: hidden;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .25px;
}
::-webkit-input-placeholder { 
  font-family: 'Open Sans', sans-serif;
  color: #939598;
  opacity: .7;
	font-weight: 400;
	letter-spacing: .75px;

}
button {
	outline-style: none;
}
/* input section and form */

.input-section {
	background-color: #E5F3F2;
	padding-top: 15px;
	padding-bottom: 20px;
	z-index: 1;
	top: 0px;
	width: 100%;
}

.site-header {
	margin: 10px auto 20px;
	font-family: 'Roboto Slab';
	font-size: 36px;
	font-weight: 700;
	color: #6D6E71;
	letter-spacing: 1.25px;
	width: 100%;
	text-align: center;
}

.header-green {
	color: #00A79D;
}

.input-form {
	width: 350px;
	margin: auto;
}

.input-title {
	display: block;
	box-sizing: border-box;
	font-size: 15px;
	width: 100%;
	height: 28px;
	padding: 2px 5px;
	margin: 15px 0px;
	outline-style: none;
}

.input-body {
	display: block;
	box-sizing: border-box;
	font-size: 15px;
	width: 100%;
	height: 28px;
	padding: 2px 5px;
	margin: 15px 0px;
}

.button-save {
	background-color: #00A79D;
	border-radius: 0;
	color: #FFFFFF;
	width: 350px;
  border: 0;
  font-size: 14px;
  height: 30px;
  outline-style: none;
} 

/* search and cards container */

.card-section {
	position: relative;
	display: block;
	width: 350px;
	margin: 20px auto 10px;
}

/* search bar */

.search-form {
	z-index: 1;
	background-color: #FFFFFF;
	margin: 0px auto;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.input-search {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	width: 350px;
	height: 28px;
	padding: 3px 5px;
	margin: 0px auto 10px;
	outline-style: none;
}

/* haus du cards */
.cards-container {
	width: 100%;
  height: 50vh;
	overflow-y: scroll;
	padding-bottom: 100px;
}

.idea-card {
	box-sizing: border-box;
	width: 100%;
}

.card-header-container {
	width: 100%;
	position: relative;
	padding: 20px 0px 10px;
}

.card-header {
	font-family: 'Roboto Slab', sans-serif;
	color: #6D6E71;
	margin-right: 30px;
	font-size: 16px;
	letter-spacing: .2px;
}

.card-delete-button {
	position: absolute;
	top: 17px;
	right: 0px;
	background: url(../images/delete.svg);
	height: 20px;
	width: 20px;
	border-radius: 0;
  border: 0;
}
.card-delete-button:hover {
	float: right;
	background: url(../images/delete-hover.svg);
	height: 20px;
	width: 20px;
	border-radius: 0;
  border: 0;
}

.card-content {
	padding-top: 10px;
}
.card-footer-container {
	border-bottom: 1px solid #D1D3D4;
	width: 100%;
	position: relative;
	padding: 20px 0px;
}
.card-footer-container button {
	display: inline-block;
}
.upvote-button {
	background: url(../images/upvote.svg);
	background-size: 20px;
	height: 20px;
	width: 20px;
  border: none;
  margin-right: 10px;
}
.upvote-button:hover{
	background: url(../images/upvote-hover.svg);
}
.downvote-button {
	background: url(../images/downvote.svg);
	background-size: 20px;
	height: 20px;
	width: 20px;
  border: none;
}
.downvote-button:hover{
	background: url(../images/downvote-hover.svg);

}
.quality-header {
	font-family: 'Roboto Slab', sans-serif;
	color: #6D6E71;
	position: absolute;
	font-size: 12px;
	left: 60px;
	bottom: 25px;
	padding: 1px 0px 0px 10px;
	vertical-align: top;
}

/* interactive classes */

.hidden {
	display: none;
}
