/* global styling */

* {
	color: #939598;
}

body {
	overflow: auto;
}

label {
  display: none;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: .25px;
}

::-webkit-input-placeholder,
::-webkit-textarea-placeholder { 
  color: #939598;
  font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	letter-spacing: .75px;
  opacity: .7;

}

button  {
	outline-style: none;
}

/* input section and form */

.input-section {
	background-color: #E5F3F2;
	min-width: 350px;
	padding-top: 15px;
	padding-bottom: 20px;
	top: 0px;
	width: 100%;
}

.site-header {
	color: #6D6E71;
	font-family: 'Roboto Slab';
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.25px;
	margin: 10px auto 20px;
	text-align: center;
	width: 100%;
}

.header-green {
	color: #00A79D;
}

.input-form {
	width: 350px;
	margin: auto;
}

.input-title {
	border: 1px solid #D1D3D4;
	box-sizing: border-box;
	display: block;
	font-size: 15px;
	height: 28px;
	margin: 15px 0px;
	outline-style: none;
	padding: 2px 5px;
	width: 100%;
}

.input-body {
	border: 1px solid #D1D3D4;
	box-sizing: border-box;
	display: block;
	font-size: 15px;
	height: 28px;
	margin: 15px 0px;
	max-height: 70px;
	outline-style: none;
	padding: 2px 5px;
	resize: none;
	white-space:pre-wrap;
	width: 100%;
}

.button-save {
	background-color: #00A79D;
	border-radius: 0;
  border: 0;
	color: #FFFFFF;
  font-size: 14px;
  height: 30px;
  outline-style: none;
  width: 350px;
} 

/* search and cards container */

.card-section {
	display: block;
	margin: 20px auto 10px;
	position: relative;
	width: 350px;
}

/* search bar */

.search-form {
	background-color: #FFFFFF;
	margin: 0px auto;
	z-index: 1;
}

::-webkit-scrollbar {
	background: transparent;
	width: 0px;
}

.input-search {
	border: 1px solid #D1D3D4;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	height: 28px;
	margin: 0px auto 10px;
	outline-style: none;
	padding: 3px 5px;
	width: 350px;
}

/* haus du cards */

.cards-container {
  height: 70vh;
	overflow-y: scroll;
	padding-bottom: 100px;
	width: 100%;
}

.idea-card {
	box-sizing: border-box;
	width: 100%;
}

.card-header-container {
	padding: 20px 0px 10px;
	position: relative;
	width: 100%;
}

.card-header {
	color: #6D6E71;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 16px;
	letter-spacing: .2px;
	margin-right: 30px;
}

.card-delete-button {
	background: url(../images/delete.svg);
  border: 0;
	border-radius: 0;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 17px;
	width: 20px;
}

.card-delete-button:hover {
	background: url(../images/delete-hover.svg);
  border: 0;
	border-radius: 0;
	float: right;
	height: 20px;
	width: 20px;
}

.card-content {
	padding-top: 10px;
	white-space:pre-wrap;
}

.card-footer-container {
	border-bottom: 1px solid #D1D3D4;
	padding: 20px 0px;
	position: relative;
	width: 100%;
}

.card-footer-container button {
	display: inline-block;
}

.upvote-button {
	background-size: 20px;
	background: url(../images/upvote.svg);
  border: none;
	height: 20px;
	width: 20px;
  margin-right: 10px;
}

.upvote-button:hover{
	background: url(../images/upvote-hover.svg);
}

.downvote-button {
	background: url(../images/downvote.svg);
	background-size: 20px;
  border: none;
	height: 20px;
	width: 20px;
}

.downvote-button:hover{
	background: url(../images/downvote-hover.svg);
}

.quality-header {
	bottom: 25px;
	color: #6D6E71;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 12px;
	left: 60px;
	padding: 1px 0px 0px 10px;
	position: absolute;
	vertical-align: top;
}

/* interactive classes */

.hidden {
	display: none;
}

@media screen and (max-width: 600px) {
	body {
		overflow: scroll;
	}

	.cards-container {
		overflow-y: visible;
	}

	.card-section {
		padding-bottom: 60px;
	}

	.input-body {
		height: 70px;
		min-height: 70px;
		padding-top: 0px;
	}

	.site-header {
		font-size: 30px;
	}

	.idea-card {
		padding: 10px;
		width: 95%;
	}
}