* {
	color: #939598;
}
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h2 {
	margin-top: 50px;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 48px;
	font-weight: 700;
	color: #6D6E71;
	width: 100%;
	text-align: center;
}
.header-green {
	color: #00A79D;
	font-family: 'Roboto Slab', sans-serif;
}
h3 {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 22px;
	display: inline-block;
}
h4 {
	font-family: 'Roboto Slab', sans-serif;
	color: #6D6E71;
	display: inline-block;
	padding: 1px 0px 0px 10px;
	vertical-align: top;
}
label {
  display: none;
}
body {
	overflow: hidden;
	width: 100%;
}
.input-section {
	background-color: #E5F3F2;
	height: 27vh;
	position: relative;
}
.input-form {
	width: 100%;
	position: absolute;
	text-align: center;
}
.input-form input{
	box-sizing: border-box;
	position: relative;
	display: block;
	padding: 3px;
	width: 40%;
	margin: 10px auto;
}
.button-save {
	width: 40%;
	background-color: #00A79D;
	color: #FFFFFF;
	border-radius: 0;
  	border: 0;
  	padding: 5px;
} 
.search-form {
	background-color: #FFFFFF;
	width: 100%;
	position: absolute;
	top: 100%;
}
.input-search {
	box-sizing: border-box;
	position: relative;
	display: block;
	padding: 3px;
	width: 40%;
	margin: 0px auto;
}
.card-section {
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	max-height: 640px;
	width: 100%;
	overflow-y: scroll;
}
.idea-card {
	min-width: 0;
	flex: 0 0 auto;
	margin: auto;
	width: 50%;
	max-height: 120px;
	padding: 10px 10px 0px 10px;
}
.card-delete-button {
	position: absolute;
	/*background: url(images/delete.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  border: 0;
}
.card-delete-button:hover {
	float: right;
	/*background: url(images/delete-hover.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  	border: 0;
}
.card-content {
	padding-top: 10px;
}
.card-footer-container {
	border-bottom: 1px solid #D1D3D4;
	padding: 15px 0px 20px 0px;
}
.card-footer-container button {
	display: inline-block;
	padding: 0px 0px 0px 0px;
}
.upvote-button {
	/*background-image: url(images/upvote.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  border: 0;
}
.upvote-button:hover{
	/*background-image: url(images/upvote-hover.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  	border: 0;
}
.downvote-button {
	/*background-image: url(images/downvote.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  	border: 0;
}
.downvote-button:hover{
	/*background-image: url(images/downvote-hover.svg);*/
	height: 20px;
	width: 20px;
	border-radius: 0;
  	border: 0;
}
